#green {
    color: #4CAF50;
    font-family: Arial, sans-serif;
}

#red {
    color: red;
    font-family: Arial, sans-serif;
}

#blue {
    color: blue;
    font-family: Arial, sans-serif;

}